$spotify-green: #7db300;
$dark-grey: #1C1C1F;

body {
    background: #121314;
    padding-top: 20px;
    margin: 0;
    div{
        background: $dark-grey;
        width: 450px;
        border-radius: 8px;
        padding: 10px;
        margin: auto;
        input {
            width: 250px;
            font-family: inherit;
            border: none;
            color: $spotify-green;
        }
        p {
            color: white;
            margin-left: 15px;
            font-family: space mono;
            margin: center;
            a {
                color: $spotify-green;
                text-decoration: none;
            }
        }
    }
}