body {
    background: #121314;
    padding-top: 20px;
    margin: 0;
    div{
        background: #1C1C1F;
        width: 400px;
        border-radius: 8px;
        padding: 10px;
        margin: auto;
        p {
            color: white;
            text-align: center;
            font-family: space mono;
            margin: center;
        }
    }
}