doctype html
html(lang="en")
  head
    link(href="https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans|Space+Mono", rel="stylesheet")
    link(href="/css/output.css",rel="stylesheet", type="text/css")
  body
    div.data
      p original: #[p= original]
      p shortened: #[p= shortened]