body {
  margin: 0;
  background: #121314;
  font-family: open sans; }
  body .title {
    color: white;
    text-align: center;
    padding: 20px;
    margin: auto; }
  body .container {
    width: 410px;
    margin-top: 50px;
    border-radius: 8px;
    background: #1C1C1F;
    padding: 15px;
    margin: auto; }
    body .container .fa-link {
      margin-right: 5px;
      padding: 5px;
      color: white; }
    body .container #url-field {
      font-family: space mono;
      padding: 5px;
      height: 27px;
      width: 280px; }
    body .container #submit-form {
      font-size: 10px;
      color: white;
      margin-left: 5px;
      background-color: #648F00;
      font-family: open sans;
      border-radius: 4px;
      outline: none;
      border: none;
      width: 70px;
      padding: 8px; }
      body .container #submit-form:hover {
        background: #7db300; }
  body #user-msg {
    margin: auto;
    width: 300px;
    color: #ff6666;
    font-family: space mono;
    font-size: 12px;
    text-align: center; }
