body {
  background: #121314;
  padding-top: 20px;
  margin: 0; }
  body div {
    background: #1C1C1F;
    width: 450px;
    border-radius: 8px;
    padding: 10px;
    margin: auto; }
    body div input {
      width: 300px;
      font-family: inherit;
      border: none;
      color: #7db300; }
    body div p {
      color: white;
      margin-left: 15px;
      font-family: space mono;
      margin: center; }
      body div p a {
        color: #7db300;
        text-decoration: none; }
