body {
  background: #121314;
  padding-top: 20px;
  margin: 0; }
  body div {
    background: #1C1C1F;
    width: 400px;
    border-radius: 8px;
    padding: 10px;
    margin: auto; }
    body div p {
      color: white;
      text-align: center;
      font-family: space mono;
      margin: center; }
